.codegen
obj
accesslist.txt
*.csproj
launchSettings.json
tools_asset_info.bin
tools_thumbnail_cache.bin
*.xml
*.dll
*.pdb
.intermediate/net5.0/sandbox.deps.json
maps/editor/_bakeresourcecache/toolscene_default_baked/*
.vscode/launch.json
megascans/3d/metal_rusty_teraccgda/teraccgda.vmdl
megascans/3d/metal_rusty_teraccgda/teraccgda.vmdl_c
megascans/3d/metal_rusty_teraccgda/geometry/teraccgda_lod0.fbx
megascans/3d/metal_rusty_teraccgda/geometry/teraccgda_lod2.fbx
megascans/3d/metal_rusty_teraccgda/geometry/teraccgda_lod4.fbx
megascans/3d/metal_rusty_teraccgda/materials/teraccgda.vmat
megascans/3d/metal_rusty_teraccgda/materials/teraccgda.vmat_c
megascans/3d/metal_rusty_teraccgda/textures/teraccgda_4k_albedo_jpg_eda02c4d.vtex_c
megascans/3d/metal_rusty_teraccgda/textures/teraccgda_4k_albedo.jpg
megascans/3d/metal_rusty_teraccgda/textures/teraccgda_4k_displacement.exr
megascans/3d/metal_rusty_teraccgda/textures/teraccgda_4k_normal_lod0_jpg_7ba59a02.vtex_c
megascans/3d/metal_rusty_teraccgda/textures/teraccgda_4k_normal_lod0.jpg
megascans/3d/metal_rusty_teraccgda/textures/teraccgda_4k_roughness.jpg
_bakeresourcecache/maps/editor/toolscene_default_baked/env_cubemap_16.vtex_c
_bakeresourcecache/maps/editor/toolscene_default_baked/env_light_probe_volume_16.vtex_c
